S3method(plot, barcode)
export(architect, bottleneckdist, qsmToTable, perhomology)
importFrom(utils, read.table, txtProgressBar, setTxtProgressBar)
importFrom(graphics, plot, segments)
importFrom(TDA, bottleneck)
importFrom(convhulln, geometry)